# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\newcomers-java-master@1120191b82a\pim-tool-back\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
